html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: arial, sans-serif;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}
.container::after{
	content: "";
	clear: both;
	display: table;
}
*{
	box-sizing: border-box;
}
.d-flex{
	display: flex;
	align-items: baseline;
}
header{
	background: #eee;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
h1{
	margin: 0 40px 0 0;
	font-weight: normal;
	font-size: 20px;
	padding: 15px 0 20px;
}
h2{
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.btn-box{
	width: 60%;
}
.btn2{
	padding: 5px 20px;
}
.form-post{
	padding: 6px;
	border: 1px solid #ccc;
	margin: 0 0 40px;
}
.form-post h3{
	font-weight: normal;
	padding: 5px;
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.form-post-row{
	display: flex;
	align-items: center;
	padding: 0 0 10px;
}
.form-post-row label, 
.form-post-row textarea, 
.form-post-row button {
	float: left;
	margin-right: 10px;
}
.form-post-row  textarea{
	height: 40px;
	width: 500px;
}
.form-post-row button{
	padding: 7px 20px;
	cursor: pointer;
}
.post{
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #eee;
}
.post h4{
	font-size: 16px;
	margin: 0 0 5px;
}
.post h4 span{
	font-weight: normal;
}
.post p{
	margin: 0;
	font-size: 13px;
}
.form-block h3{
	font-weight: normal;
	padding: 5px;
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.form-row{
	padding: 0 0 10px;
}
.form-row label{
	display: inline-block;
	width: 100px;
}
.form-row .field{
	width: 300px;
	height: 24px;
}
.btn{
	padding: 7px 22px;
	cursor: pointer;
}
.form-btn{
	border-top: 1px dashed #ccc;
	margin-top: 10px;
	padding-top: 10px;
	text-align: right;
}
.close{
	width: 40px;
	height: 40px;
	background: #fff;
	border: 1px solid #ff0000;
	color: #ff0000;
	position: absolute;
	top: -20px;
	right: -20px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.overlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}
.modal{
	position: fixed;
	width: 500px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	top: 150px;
	left: 50%;
	margin-left: -250px;
	display: none;
}